.body-start {
    font-family: 'Fredoka One';
    background: linear-gradient(to bottom, #fef3e3, #d3f3fd);
    text-align: center;
    color: #333;
    height: 96vh;
    position: relative;
    overflow: visible;
}

.img-start {
    width: 180px;
    height: auto;
    text-align: center;
}

.h1-start {
    font-size: 2.5em;
    margin: 0.5em 0;
    color: #3b3b3b;
}

.p-start {
    font-size: 1.3em;
    color: #555;
    margin-bottom: 2em;
}

.btn-start {
    background-color: #3372F5;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-start:hover {
    background-color: #8048D2;
}

.bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
    animation: float 20s linear infinite;
}

.bubble {
    position: absolute;
    border-radius: 50%;
    opacity: 0.4;
    animation: float 10s infinite;
}

.bubble:nth-child(1) {
    width: 100px;
    height: 100px;
    background: #FE7782;
    top: 10%;
    left: 10%;
    animation-delay: 0s;
}

.bubble:nth-child(2) {
    width: 70px;
    height: 70px;
    background: #FCB55D;
    top: 20%;
    left: 70%;
    animation-delay: 2s;
}

.bubble:nth-child(3) {
    width: 50px;
    height: 50px;
    background: #3372F5;
    top: 30%;
    left: 25%;
    animation-delay: 4s;
}

.bubble:nth-child(4) {
    width: 80px;
    height: 80px;
    background: #8048D2;
    top: 15%;
    left: 80%;
    animation-delay: 4s;
}

.bubble:nth-child(5) {
    width: 80px;
    height: 80px;
    background: #8048D2;
    top: 40%;
    left: 15%;
    animation-delay: 4s;
}

.bubble:nth-child(6) {
    width: 70px;
    height: 70px;
    background: #FCB55D;
    top: 50%;
    left: 5%;
    animation-delay: 2s;
}

.bubble:nth-child(7) {
    width: 100px;
    height: 100px;
    background: #FE7782;
    top: 35%;
    left: 75%;
    animation-delay: 0s;
}

.bubble:nth-child(8) {
    width: 50px;
    height: 50px;
    background: #3372F5;
    top: 55%;
    left: 85%;
    animation-delay: 4s;
}

.bubble:nth-child(9) {
    width: 50px;
    height: 50px;
    background: #8048D2;
    top: 65%;
    left: 55%;
    animation-delay: 0s;
}

.bubble:nth-child(10) {
    width: 80px;
    height: 80px;
    background: #FE7782;
    top: 60%;
    left: 35%;
    animation-delay: 4s;
}

.bubble:nth-child(11) {
    width: 100px;
    height: 100px;
    background: #FE7782;
    top: 75%;
    left: 10%;
    animation-delay: 0s;
}

.bubble:nth-child(12) {
    width: 70px;
    height: 70px;
    background: #FCB55D;
    top: 70%;
    left: 70%;
    animation-delay: 2s;
}

.bubble:nth-child(13) {
    width: 50px;
    height: 50px;
    background: #3372F5;
    top: 80%;
    left: 30%;
    animation-delay: 4s;
}

.bubble:nth-child(14) {
    width: 80px;
    height: 80px;
    background: #8048D2;
    top: 85%;
    left: 85%;
    animation-delay: 2s;
}

.bubble:nth-child(15) {
    width: 80px;
    height: 80px;
    background: #8048D2;
    top: 90%;
    left: 50%;
    animation-delay: 2s;
}

.bubble:nth-child(16) {
    width: 70px;
    height: 70px;
    background: #FCB55D;
    top: 92%;
    left: 15%;
    animation-delay: 2s;
}

.bubble:nth-child(17) {
    width: 100px;
    height: 100px;
    background: #FE7782;
    top: 78%;
    left: 60%;
    animation-delay: 0s;
}

.bubble:nth-child(18) {
    width: 50px;
    height: 50px;
    background: #3372F5;
    top: 68%;
    left: 40%;
    animation-delay: 4s;
}


@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

.body-form {
    font-family: 'Fredoka One', cursive;
    background: linear-gradient(to bottom, #fce3f1, #d1f3ff);
    margin: 0;
    padding: 20px;
    color: #333;
    text-align: center;
    overflow-x: visible;
    overflow-y: visible;
    min-height: 100vh;
    position: relative;
}


.sticker-titulo {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    padding: 20px 30px;
    background-color: #f8f3ff;
    border: 3px dashed #8048D2;
    border-radius: 25px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    animation: bounceIn 1s ease;
    margin: 40px auto;
    font-family: 'Baloo 2', cursive;
}


.h1-form {
    font-size: 3rem;
    color: #3c2163;
    text-shadow: 2px 6px #b29cd3;
    font-family: 'Fredoka One';
}

.icono {
    font-size: 2.5rem;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.3);
        opacity: 0;
    }

    70% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

.question {
    background: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.question p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.option {
    display: block;
    border: none;
    cursor: pointer;
}

.btn-submit {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 15px 30px;
    background-color: #FE7782;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-submit:hover {
    background-color: #FCB55D;
}

#result {
    font-size: 1.8em;
    margin-top: 30px;
    color: #2d2d2d;
}

.body-lecture {
    background-color: #f8f9fa;
    padding-top: 40px;
    padding-bottom: 40px;
}